@import "themes/main-style.rasi"
configuration {
  modi: "drun,run,window";
  show-icons: true;
  icon-theme: "Papirus-Dark";
  font: "JetBrains Mono 11";
  display-drun: "App";
  display-run: "Run";
  display-window: "Window";
}