text{
    color: #ffc0a4;
}
.waybarborder{
    border-color: rgba(255, 192, 164, 0.60);
}

.secondColor{
    color: #e5a4ff;
}

.border{
    color: #e5a4ff;
}

.backgroundSingleColor{
    color: rgba(26, 35, 50, 0.4);
}